<style>
.item{
	
}

</style>


<div class="container row" style="margin-top: 1%;">
	<div class="col-md-8">
		
	</div>

	<div class="col-md-4" style="float:right; text-align: right;">
		<div class="col-md-3 col-xs-12">
			<div class="realm-buttons front">
				<div class="item">
					<a target="_blank" href="#" class="btn btn-subscribe">
						<span class="icon"> <img src="template/icon_inscricao.jpg" style="width:30%; height: 30%;"></span><span>Inscrição</span>
					</a>
				</div>
			
				<div class="item">
					<a target="_blank" href="#" class="btn btn-restricted">
						<span class="icon"></span>
						<span>Área Restrita</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>